In [1]:
import numpy as np
import pandas as pd

In [2]:
df_trainX = pd.read_csv("S01_train_X.csv")
df_trainX.head()

,대여일자,대여소번호,대여소,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-08-14,1430,1430. 중랑구청,F,30대,1,55.44,0.57,2456.26,15
1,2023-08-23,3416,3416.동묘앞역 6번출구,NaN,60대,1,51.21,0.45,1930.00,20
2,2023-08-04,1177,1177. 수명중?고교,F,기타,2,73.12,0.87,3782.81,22
3,2023-08-28,4377,4377. 우영테크노센터 앞,NaN,50대,2,124.06,0.93,4020.00,29
4,2023-08-06,642,642. 신답역 사거리,F,20대,1,34.50,0.45,1936.09,23

In [3]:
df_testX = pd.read_csv("S01_test_X.csv")
df_testX.head()

,대여일자,대여소번호,대여소,성별,연령대,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2023-08-01,2741,2741.마곡수명산파크5-6단지,F,30대,3,98.52,0.99,4221.26,71
1,2023-08-31,3914,3914. 신도림쌍용플래티넘노블아파트 앞,M,50대,1,133.22,1.03,4426.58,23
2,2023-08-17,4481,4481. 올림픽공원 북2문 B,M,20대,2,188.06,1.55,6680.00,80
3,2023-08-31,146,146. 마포역 2번출구 뒤,F,40대,1,221.88,2.50,10774.94,138
4,2023-08-02,1215,1215. 올림픽공원역 1번출구 앞,M,기타,1,74.90,0.68,2910.00,16

In [6]:
df_trainY = pd.read_csv("S01_train_Y.csv")
df_trainY.head()

  대여구분코드
0    정기권
1    정기권
2    정기권
3    정기권
4    정기권

In [7]:
df_trainY['대여구분코드'].value_counts()

정기권         1371007
일일권          324778
일일권(비회원)      16291
Name: 대여구분코드, dtype: int64

In [4]:
df_testY = pd.read_csv("S01_test_Y.csv")
df_testY.head()

  대여구분코드
0    정기권
1    정기권
2    일일권
3    일일권
4    정기권

In [5]:
df_testY['대여구분코드'].value_counts()

정기권         228510
일일권          54181
일일권(비회원)      2654
단체권              1
Name: 대여구분코드, dtype: int64

In [8]:
df_testY = df_testY[df_testY['대여구분코드'] != "단체권"]
df_testY['대여구분코드'].value_counts()

정기권         228510
일일권          54181
일일권(비회원)      2654
Name: 대여구분코드, dtype: int64

In [9]:
df_testY.to_csv('./S01_test_Y.csv', index=False)

In [ ]:
from torch.utils.data import Dataset
from torch.utils.data import DataLoader, TensorDataset, random_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
X_label_encoder = LabelEncoder()
Y_label_encoder = LabelEncoder()